:root {
    --color-primario: #D9B5FC;
    --fondo: #0B1147;
    --header: #1D277C;
    --header-text: #EDDDFE;
    --footer: #1D277C;
    --footer-text: #EDDDFE;
    --hover: #5462de;
    --subtitulos: #f3e9fe;
    --hover-header: #7f8af2;
}

body {
    background-color: var(--fondo);
    color: var(--color-primario);
}

header, nav {
    background-color: var(--header);
    color: var(--header-text);
}


strong {
    color: var(--subtitulos);
}

a {
    color: var(--color-primario);
    text-decoration: none;
}

a:hover {
    color: var(--hover);
    transition: 0.5s;
}

nav ul li a:hover {
    background-color: var(--hover-header);
    color: var(--header);
    transition: 0,5s;
}


footer {
    background-color: var(--footer);
    color: var(--footer-text);
}

footer ul li a img:hover {
    background-color: var(--hover);
    transition: 0.5s;
}