display-small {
    display: inherit !important;
}

header, nav, #wrapper{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    clear: both;
    justify-content: center;
}

#cuerpo-pagina {
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;
}